<!DOCTYPE HTML>
<html>
<head>
	<title>Blog</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="/stylesheets/ie/html5shiv.js"></script><![endif]-->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/skel.min.js"></script>
	<script src="/javascripts/skel-layers.min.js"></script>
	<script src="/javascripts/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="/stylesheets/skel.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/style-desktop.css" />
		<link rel="stylesheet" href="/stylesheets/style-wide.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="/stylesheets/ie/v8.css" /><![endif]-->
</head>

<body class="left-sidebar">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Content -->
				<div id="content">
					<div class="inner">
					<% if (success) { %>
					  <div><%= success %></div>
					<% } %>
					<% if (error) { %>
					  <div><%= error %> </div>
					<% } %>

				
					