<% include header %>
<article class="box post post-excerpt">
<ul style="list-style:none">
  <li><h3><a href="http://www.sugela.cn" target="_blank">Alusa</a></h3> welcome</li>
</ul>
<div class="info">
    <span>Links</span>
</div>
</article>
<% include footer %>