<% include header %>
<article class="box post post-excerpt">
<form method="post">
  username : <input type="text" name="name"/><br />
  password : <input type="password" name="password"/><br />
         <input type="submit" value="login"/>
</form>
<div class="info">
    <span>Login</span>
</div>
</article>
<% include footer %>