
<div class="pagination">
  <% if (!isFirstPage) { %>
    <a href="?p=<%= page - 1 %>" class="button previous">Previous Page</a>
  <% } %>

  <% if (!isLastPage) { %>
    <a href="?p=<%= page + 1 %>" class="button next">Next Page</a>
  <% } %>
</div>
