
article.box.post.post-excerpt
 p
  span Title 
  input(type="text", name="title")
 p
  span Tags
  - tags.forEach(function(tag, index){
   input.article_tags(type="checkbox", name="tags[]", value=tag, id="tag_" + index)
   label(for="tag_" + index)= tag
  - })
 script#myEditor(type="text/plain") Contents
 br
 button.button(onclick="sendData()") Submit
 .info: span Post
script(type="text/javascript").
    UM.clearCache('myEditor'); //for pjax
    var um = UM.getEditor('myEditor');

    function resizeEditor()
    {
      $(window).resize(function(){
        var width = $('#content').width();
        um.setWidth(width);
        var height = parseInt(width / 3);
        um.setHeight(height);
      });
    }

    resizeEditor();

    function sendData() {
        var article_tags = [];
        $('.article_tags:checked').each(function(index, tag){
            article_tags.push($(tag).val());
        });
        if(article_tags.length == 0) article_tags = null;

        $.post('/post', {
                title : $('[name=title]').val(),
                post : UM.getEditor('myEditor').getContent(),
                tags : article_tags
            }, function(ret){
            if(!ret)
            {
                alert('post error');
                return;
            }

            if(ret.code == 1)
            {
                //location.href = '/';
                $.pjax.request({url:'/'});
                return;
            }
            else {
                alert(ret.message);
            }
        });
    }

