article.box.post.post-excerpt
 form(method="post")
  span Username 
  input(type="text", name="name")
  span Password 
  input(type="password", name="password")
  span Confirm Password 
  input(type="password", name="password-repeat")
  span Email 
  input(type="email", name="email")
  input(type="submit", value="Register")
 .info: span Register

