<% include header %>
<article class="box post post-excerpt">
<% posts.forEach(function (tag, index) { %>
  <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
<% }) %>
<div class="info">
    <span><%= title %></span>
</div>
</article>
<% include footer %>